<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="amr_mtt">

    <!-- ........................... SENSOR PLUGIN ................................... -->

    <gazebo>
        <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>

        <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu">
        </plugin>

        <plugin filename="ignition-gazebo-joint-state-publisher-system" name="ignition::gazebo::systems::JointStatePublisher">
        </plugin>

    </gazebo>

    <!-- ........................... ROS2 CONTROL PLUGIN ................................... -->
    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find amr_mtt)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>
    <ros2_control name="MobileBase" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
        <joint name="middle_left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="middle_right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <!--======================================= linearbattery ================================================ -->
    <plugin filename="ignition-gazebo-linearbattery-system" name="ignition::gazebo::systems::LinearBatteryPlugin">
        <battery_name>linear_battery</battery_name>
        <voltage>24.0</voltage>
        <open_circuit_voltage_constant_coef>24.0</open_circuit_voltage_constant_coef>
        <open_circuit_voltage_linear_coef>-3.0</open_circuit_voltage_linear_coef>
        <initial_charge>100.0</initial_charge>
        <capacity>100.0</capacity>
        <resistance>0.072</resistance>
        <smooth_current_tau>2.0</smooth_current_tau>
        <power_load>100.0</power_load>
        <soc_threshold>0.10</soc_threshold>
    </plugin>

    <!-- ............................. ground truth .................................... -->

    <xacro:if value="${odometry_source == 'world'}">
        <gazebo>
            <plugin filename="libignition-gazebo6-odometry-publisher-system" name="ignition::gazebo::systems::OdometryPublisher">
                <odom_frame>odom</odom_frame>
                <robot_base_frame>base_footprint</robot_base_frame>
                <odom_topic>$(arg wheel_odom_topic)</odom_topic>
                <tf_topic>/tf</tf_topic>
                <dimensions>2</dimensions>
                <odom_publish_frequency>10</odom_publish_frequency>
            </plugin>
        </gazebo>
    </xacro:if>


    <!-- ........................... 2D LIDAR config ................................... -->

    <!-- ====================== Font LiDAR ======================== -->

    <xacro:if value="$(arg two_d_lidar_enabled)">
        <gazebo reference="L_F_Lidar_Link">
            <sensor name='lidar_front' type='gpu_lidar'>
                <topic>lidar_front/scan</topic>
                <update_rate>${two_d_lidar_update_rate}</update_rate>
                <gz_frame_id>L_F_Lidar_Link</gz_frame_id>
                <lidar>
                    <scan>
                        <horizontal>
                            <samples>${two_d_lidar_sample_size}</samples>
                            <resolution>1</resolution>
                            <min_angle>${radians(two_d_lidar_min_angle)}</min_angle>
                            <max_angle>${radians(two_d_lidar_max_angle)}</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>${two_d_lidar_min_range}</min>
                        <max>${two_d_lidar_max_range}</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.001</stddev>
                    </noise>
                </lidar>
                <always_on>1</always_on>
                <visualize>true</visualize>
            </sensor>
        </gazebo>

        <!-- ====================== REAR LiDAR ======================== -->
        <gazebo reference="R_B_Lidar_Link">
            <sensor name='lidar_rear' type='gpu_lidar'>
                <topic>lidar_rear/scan</topic>
                <update_rate>${two_d_lidar_update_rate}</update_rate>
                <gz_frame_id>R_B_Lidar_Link</gz_frame_id>
                <lidar>
                    <scan>
                        <horizontal>
                            <samples>${two_d_lidar_sample_size}</samples>
                            <resolution>1</resolution>
                            <min_angle>${radians(two_d_lidar_min_angle)}</min_angle>
                            <max_angle>${radians(two_d_lidar_max_angle)}</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>${two_d_lidar_min_range}</min>
                        <max>${two_d_lidar_max_range}</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.001</stddev>
                    </noise>
                </lidar>
                <always_on>1</always_on>
                <visualize>true</visualize>
            </sensor>
        </gazebo>
    </xacro:if>

    <!-- ........................... CAMERA config ................................... -->

    <xacro:if value="$(arg camera_enabled)">
        <gazebo reference="kinect_camera">
            <sensor type="depth_camera" name="kinect_camera">
                <update_rate>30.0</update_rate>
                <topic>kinect_camera</topic>
                <ignition_frame_id>kinect_camera</ignition_frame_id>
                <camera_info_topic>kinect_camera/camera_info</camera_info_topic>
                <camera>
                    <horizontal_fov>${radians(camera_horizontal_fov)}</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.05</near>
                        <far>8.0</far>
                    </clip>
                </camera>
            </sensor>
        </gazebo>
    </xacro:if>

    <!-- ........................... IMU config ................................... -->

    <gazebo reference="imu_frame">
        <sensor name="imu_sensor" type="imu">
            <always_on>1</always_on>
            <update_rate>50</update_rate>
            <ignition_frame_id>imu_frame</ignition_frame_id>
            <visualize>true</visualize>
            <topic>imu</topic>
        </sensor>
    </gazebo>

    <!-- ........................... Stereo camera ................................... -->
    <xacro:if value="$(arg stereo_camera_enabled)">
        <gazebo reference="stereo_camera">
            <sensor type="camera" name="right">
                <update_rate>10.0</update_rate>
                <always_on>true</always_on>
                <ignition_frame_id>stereo_camera_optical</ignition_frame_id>
                <pose>0 -0.12 0 0 0 0</pose>
                <topic>stereo_camera/right/image_raw</topic>
                <camera_info_topic>stereo_camera/right/camera_info</camera_info_topic>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>1024</width>
                    <height>1024</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.3</near>
                    <far>20</far>
                </clip>
            </sensor>

            <sensor type="camera" name="left">
                <topic>stereo_camera/left/image_raw</topic>
                <update_rate>10.0</update_rate>
                <always_on>true</always_on>
                <ignition_frame_id>stereo_camera_optical</ignition_frame_id>
                <camera_info_topic>stereo_camera/left/camera_info</camera_info_topic>
                <pose>0 0 0 0 0 0</pose>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>1024</width>
                    <height>1024</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.3</near>
                    <far>20</far>
                </clip>
            </sensor>
        </gazebo>
    </xacro:if>

    <!-- ============================================= ur5 ===================================== -->
    <gazebo reference="ur5_base_link">
        <!-- คำสั่ง <self_collide>true</self_collide> เป็นการบอก Gazebo ว่า "ช่วยเช็คหน่อยนะ 
            ถ้าชิ้นส่วน ur5_base_link (ฐานแขน) ไปโดนชิ้นส่วนอื่นของหุ่นยนต์ตัวเดียวกัน ให้ถือว่า ชนกัน (ห้ามทะลุผ่าน) -->
        <self_collide>true</self_collide>
    </gazebo>

    <!-- ........................... MATERIALS ................................... -->
    <gazebo reference="base_link">
        <visual>
            <material>
                <pbr>
                    <metal>
                        <roughness>0.15</roughness>
                        <metalness>0.8</metalness>
                    </metal>
                </pbr>
                <ambient>0.2 0.2 0.2 1</ambient>
                <diffuse>0.5 0.5 0.5 1</diffuse>
                <specular>1 1 1 1</specular>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="middle_left_wheel">
        <visual>
            <material>
                <pbr>
                    <metal>
                        <roughness>0.8</roughness>
                        <metalness>0.0</metalness>
                    </metal>
                </pbr>
                <ambient>0.1 0.1 0.1 1</ambient>
                <diffuse>0.1 0.1 0.1 1</diffuse>
            </material>
        </visual>
    </gazebo>


</robot>