<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="amr_mtt">

    <link name="base_link">
        <inertial>
            <origin xyz="-0.0555565412295525 0.00165956495364204 0.101551668712326" rpy="0 0 0" />
            <mass value="78.8693941491302" />
            <inertia ixx="1.44737979136883" ixy="0.00178871174819288" ixz="0.00621681229079885" iyy="1.32835196259761" iyz="-0.00203443957449835" izz="2.10399743524909" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/base_link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/base_link.STL" />
            </geometry>
        </collision>
    </link>

    <link name="L_Wheel_Link">
        <inertial>
            <origin xyz="-5.7041E-05 -6.8176E-05 -8.6849E-07" rpy="0 0 0" />
            <mass value="0.74595" />
            <inertia ixx="0.0014396" ixy="5.309E-07" ixz="-4.4513E-08" iyy="0.0025686" iyz="1.3108E-08" izz="0.0014416" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/L_Wheel_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.79216 0.81961 0.93333 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/L_Wheel_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="L_Wheel_point" type="continuous">
        <origin xyz="0 0.218 -0.097" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="L_Wheel_Link" />
        <axis xyz="0 -1 0" />
        <dynamics damping="0.1" friction="0.1" />
    </joint>
    <link name="R_Wheel_Link">
        <inertial>
            <origin xyz="3.4631E-05 -6.8176E-05 -4.5333E-05" rpy="0 0 0" />
            <mass value="0.74595" />
            <inertia ixx="0.0014409" ixy="-3.2636E-07" ixz="9.6606E-07" iyy="0.0025686" iyz="4.1894E-07" izz="0.0014404" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/R_Wheel_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.79216 0.81961 0.93333 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/R_Wheel_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="L_Wheel_ponit" type="continuous">
        <origin xyz="0 -0.218 -0.097" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="R_Wheel_Link" />
        <axis xyz="0 -1 0" />
        <dynamics damping="0.1" friction="0.1" />
    </joint>
    <link name="L_F_Lidar_Link">
        <inertial>
            <origin xyz="0.015755 2.5445E-08 -0.025668" rpy="0 0 0" />
            <mass value="1.1838" />
            <inertia ixx="0.0035294" ixy="4.6297E-09" ixz="9.1216E-06" iyy="0.0019712" iyz="-3.244E-09" izz="0.0052637" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/L_F_Lidar_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.77255 0.75294 0.73333 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/L_F_Lidar_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="L_F_Lidar_Center_ponit" type="fixed">
        <origin xyz="0.33905 0.18905 0.18259" rpy="3.1416 0 0.7854" />
        <parent link="base_link" />
        <child link="L_F_Lidar_Link" />
        <axis xyz="0 0 0" />
    </joint>
    
    <link name="R_B_Lidar_Link">
        <inertial>
            <origin xyz="-2.5445E-08 0.015755 -0.025668" rpy="0 0 0" />
            <mass value="1.1838" />
            <inertia ixx="0.0019712" ixy="-4.6297E-09" ixz="3.244E-09" iyy="0.0035294" iyz="9.1216E-06" izz="0.0052637" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/R_B_Lidar_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.77255 0.75294 0.73333 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/R_B_Lidar_Link.STL" />
            </geometry>
        </collision>
    </link>

    <joint name="R_B_Lidar_Center_ponit" type="fixed">
        <origin xyz="-0.33905 -0.18905 0.18259" rpy="-3.1416 0 -0.7854" />
        <parent link="base_link" />
        <child link="R_B_Lidar_Link" />
        <axis xyz="0 0 0" />
    </joint>
    
    <link name="F_Cam_Link">
        <inertial>
            <origin xyz="0.011444 -0.001705 0.00013611" rpy="0 0 0" />
            <mass value="0.10791" />
            <inertia ixx="7.1255E-05" ixy="1.7847E-08" ixz="4.9298E-08" iyy="7.71E-06" iyz="-2.4825E-10" izz="7.0257E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/F_Cam_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.89804 0.91765 0.92941 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/F_Cam_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="F_Cam_Ponit" type="fixed">
        <origin xyz="0.448 0.0017162 0.261" rpy="3.1416 0 -3.1416" />
        <parent link="base_link" />
        <child link="F_Cam_Link" />
        <axis xyz="0 0 0" />
    </joint>
    <link name="B_Cam_Link">
        <inertial>
            <origin xyz="-0.011444 0.001705 0.00013611" rpy="0 0 0" />
            <mass value="0.10791" />
            <inertia ixx="7.1255E-05" ixy="1.7848E-08" ixz="-4.9298E-08" iyy="7.71E-06" iyz="2.4846E-10" izz="7.0257E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/B_Cam_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.89804 0.91765 0.92941 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/B_Cam_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="B_Cam_Ponit" type="fixed">
        <origin xyz="-0.448 -0.0017162 0.261" rpy="3.1416 0 3.1416" />
        <parent link="base_link" />
        <child link="B_Cam_Link" />
        <axis xyz="0 0 0" />
    </joint>
    <link name="L_F_CasterBraket_Link">
        <inertial>
            <origin xyz="0.003428 0.0017288 -0.012032" rpy="0 0 0" />
            <mass value="0.074802" />
            <inertia ixx="4.2967E-05" ixy="3.6999E-07" ixz="4.7776E-06" iyy="4.6114E-05" iyz="2.354E-06" izz="6.9035E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/L_F_CasterBraket_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.79216 0.81961 0.93333 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/L_F_CasterBraket_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="L_F_Caster_Braket_Center_Ponit" type="fixed">
        <origin xyz="0.274 0.1375 -0.0725" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="L_F_CasterBraket_Link" />
        <axis xyz="0 0 0" />
    </joint>
    <link name="L_F_Caster_Wheel_Link">
        <inertial>
            <origin xyz="-4.73634249666954E-05 9.43606574451694E-05 -2.24161932142319E-06" rpy="0 0 0" />
            <mass value="0.926803088083352" />
            <inertia ixx="0.00048842288032356" ixy="-0.000117257523102007" ixz="1.07485473553116E-08" iyy="0.000657974890471322" iyz="1.07607509775958E-08" izz="0.000428467302250286" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/L_F_Caster_Wheel_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/L_F_Caster_Wheel_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="L_F_Caster_Wheel_Center_Ponit" type="continuous">
        <origin xyz="0.0356191889929753 0.0182009168163758 -0.0645" rpy="0 0 0" />
        <parent link="L_F_CasterBraket_Link" />
        <child link="L_F_Caster_Wheel_Link" />
        <axis xyz="0.45502293907625 -0.890479716172363 0" />
    </joint>
    <link name="R_F_CasterBraket_Link">
        <inertial>
            <origin xyz="-0.0027631 -0.0029354 -0.0090318" rpy="0 0 0" />
            <mass value="0.074802" />
            <inertia ixx="4.2886E-05" ixy="4.1457E-07" ixz="4.5197E-06" iyy="4.6185E-05" iyz="2.8243E-06" izz="6.9031E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/R_F_CasterBraket_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.79216 0.81961 0.93333 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/R_F_CasterBraket_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="R_F_CasterBraket_Link" type="fixed">
        <origin xyz="0.28 -0.1325 -0.0755" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="R_F_CasterBraket_Link" />
        <axis xyz="0 0 0" />
    </joint>
    <link name="R_F_Caster_Wheel_Link">
        <inertial>
            <origin xyz="-5.66086759621331E-05 8.91217086949198E-05 -2.24161560775059E-06" rpy="0 0 0" />
            <mass value="0.92680309051368" />
            <inertia ixx="0.000513590278731602" ixy="-0.000131845029135019" ixz="9.61241453906099E-09" iyy="0.000632807492551655" iyz="1.17867700790781E-08" izz="0.000428467302585151" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/R_F_Caster_Wheel_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/R_F_Caster_Wheel_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="R_F_Caster_Wheel_Center_Ponit" type="continuous">
        <origin xyz="0.0276092110470175 0.0166891892507862 -0.061500000000001" rpy="0 0 0" />
        <parent link="R_F_CasterBraket_Link" />
        <child link="R_F_Caster_Wheel_Link" />
        <axis xyz="0.542229748892177 -0.840230265710732 0" />
    </joint>
    <link name="L_B_CasterBraket_Link">
        <inertial>
            <origin xyz="-0.00083039 0.0037484 -0.012032" rpy="0 0 0" />
            <mass value="0.074802" />
            <inertia ixx="4.2334E-05" ixy="-2.0904E-07" ixz="-1.1037E-06" iyy="4.6746E-05" iyz="5.2105E-06" izz="6.9035E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/L_B_CasterBraket_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.79216 0.81961 0.93333 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/L_B_CasterBraket_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="L_B_Caster_Braket_Center_Ponit" type="fixed">
        <origin xyz="-0.276 0.1375 -0.0725" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="L_B_CasterBraket_Link" />
        <axis xyz="0 0 0" />
    </joint>
    <link name="L_B_Caster_Wheel_Link">
        <inertial>
            <origin xyz="-0.00010312426234943 -2.26414634290073E-05 -2.24162550284748E-06" rpy="0 0 0" />
            <mass value="0.926803079748811" />
            <inertia ixx="0.000703697449353942" ixy="6.25013797411359E-05" ixz="-7.77897516245519E-09" iyy="0.000442700319824298" iyz="1.30693817880093E-08" izz="0.000428467301163054" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/L_B_Caster_Wheel_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/L_B_Caster_Wheel_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="L_B_Caster_Wheel_Center_Ponit" type="continuous">
        <origin xyz="-0.00885892182777459 0.0390066597407205 -0.0645" rpy="0 0 0" />
        <parent link="L_B_CasterBraket_Link" />
        <child link="L_B_Caster_Wheel_Link" />
        <axis xyz="0.975166489072291 0.221473065157869 0" />
    </joint>
    <link name="R_B_CasterBraket_Link">
        <inertial>
            <origin xyz="-0.0055172 -0.0088083 -0.0090318" rpy="0 0 0" />
            <mass value="0.074803" />
            <inertia ixx="4.2303E-05" ixy="-1.3421E-07" ixz="6.2079E-07" iyy="4.6778E-05" iyz="-5.2898E-06" izz="6.9035E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/R_B_CasterBraket_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.79216 0.81961 0.93333 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/R_B_CasterBraket_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="R_B_Caster_Braket_Center_Ponit" type="fixed">
        <origin xyz="-0.27 -0.1325 -0.0755" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="R_B_CasterBraket_Link" />
        <axis xyz="0 0 0" />
    </joint>
    <link name="R_B_Caster_Wheel_Link">
        <inertial>
            <origin xyz="0.000104767049402377 1.30814336782858E-05 -2.24162656019267E-06" rpy="0 0 0" />
            <mass value="0.926803076144841" />
            <inertia ixx="0.000712923063206127" ixy="3.75959005651103E-05" ixz="6.54664547183672E-09" iyy="0.000433474705299254" iyz="-1.37281183558464E-08" izz="0.0004284673007199" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/R_B_Caster_Wheel_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/R_B_Caster_Wheel_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="R_B_Caster_Wheel_Center_Ponit" type="continuous">
        <origin xyz="-0.000758400516130298 -0.0446550833439237 -0.0614999999999982" rpy="0 0 0" />
        <parent link="R_B_CasterBraket_Link" />
        <child link="R_B_Caster_Wheel_Link" />
        <axis xyz="-0.991377080716502 -0.131040008508952 0" />
    </joint>
    <link name="TM-Cobot_Base_Link">
        <inertial>
            <origin xyz="-0.00021756 1.7879E-06 0.028486" rpy="0 0 0" />
            <mass value="1.0628" />
            <inertia ixx="0.0018509" ixy="-1.6429E-06" ixz="5.8128E-06" iyy="0.0018182" iyz="1.3077E-08" izz="0.0029043" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/TM-Cobot_Base_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.79216 0.81961 0.93333 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/TM-Cobot_Base_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="TM-Cobot_Base_Joint" type="fixed">
        <origin xyz="0.2 0 0.8095" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="TM-Cobot_Base_Link" />
        <axis xyz="0 0 0" />
    </joint>
    <link name="Link_1">
        <inertial>
            <origin xyz="-0.00391531722607025 -0.0033688936152312 0.0798207161054414" rpy="0 0 0" />
            <mass value="1.94965698217263" />
            <inertia ixx="0.00338467351081412" ixy="-3.34324310507675E-05" ixz="0.000371614592148249" iyy="0.00339475475446705" iyz="0.000319804867812514" izz="0.00374801181276869" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/Link_1.STL" />
            </geometry>
            <material name="">
                <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/Link_1.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint_1" type="continuous">
        <origin xyz="0 0 0.0660000000000001" rpy="0 0 0" />
        <parent link="TM-Cobot_Base_Link" />
        <child link="Link_1" />
        <axis xyz="0 0 -1" />
    </joint>
    <link name="Link_2">
        <inertial>
            <origin xyz="-0.0134944136795603 -0.107829561667099 0.0239453268690271" rpy="0 0 0" />
            <mass value="3.49989531101932" />
            <inertia ixx="0.00924853487707105" ixy="0.00243664628178682" ixz="-0.000900328055475429" iyy="0.00757190375852954" iyz="0.00128062746401855" izz="0.0101088316105376" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/Link_2.STL" />
            </geometry>
            <material name="">
                <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/Link_2.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint_2" type="continuous">
        <origin xyz="-0.0506321612922385 -0.0435732055611794 0.0814999999999997" rpy="0 0 0" />
        <parent link="Link_1" />
        <child link="Link_2" />
        <axis xyz="0.757966486410744 0.652293496424847 0" />
    </joint>
    <link name="Link_3">
        <inertial>
            <origin xyz="-0.0405351846159711 0.0103801688104188 0.0258075057228893" rpy="0 0 0" />
            <mass value="3.54946926663233" />
            <inertia ixx="0.0101107741335135" ixy="0.0035792301728309" ixz="-0.0006609519716987" iyy="0.0100306244156645" iyz="0.000151718499543795" izz="0.00652479703956447" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/Link_3.STL" />
            </geometry>
            <material name="">
                <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/Link_3.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint_3" type="continuous">
        <origin xyz="0.206712756073558 -0.240200886799263 0.104222610034891" rpy="0 0 0" />
        <parent link="Link_2" />
        <child link="Link_3" />
        <axis xyz="0.757594980390799 0.652722650138608 0.00172849145146258" />
    </joint>
    <link name="Link_4">
        <inertial>
            <origin xyz="0.0461001321833566 0.036026654473032 -0.00292641554341455" rpy="0 0 0" />
            <mass value="0.784289467673424" />
            <inertia ixx="0.000722675446500571" ixy="3.87279451486948E-05" ixz="6.34304486507315E-05" iyy="0.000875412240330379" iyz="4.62581466966762E-05" izz="0.000771594898278823" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/Link_4.STL" />
            </geometry>
            <material name="">
                <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/Link_4.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint_4" type="continuous">
        <origin xyz="-0.154520094662668 0.166509363428353 0.219670278490666" rpy="0 0 0" />
        <parent link="Link_3" />
        <child link="Link_4" />
        <axis xyz="0.755745611856343 0.654864207794132 -0.00119979583546829" />
    </joint>
    <link name="Link_5">
        <inertial>
            <origin xyz="-0.0110024526007661 0.0188816073832932 -0.0543519349398283" rpy="0 0 0" />
            <mass value="0.784289592592099" />
            <inertia ixx="0.000814591458678085" ixy="-1.53732673336862E-05" ixz="9.00310636758488E-05" iyy="0.000735478257527559" iyz="5.63639577152586E-05" izz="0.000819598938913865" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/Link_5.STL" />
            </geometry>
            <material name="">
                <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/Link_5.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint_5" type="continuous">
        <origin xyz="-0.0234350641519672 -0.0487485844996592 0.0544675453883603" rpy="0 0 0" />
        <parent link="Link_4" />
        <child link="Link_5" />
        <axis xyz="-0.241461406781918 0.276954407590449 -0.930049807887255" />
    </joint>
    <link name="Link_6">
        <inertial>
            <origin xyz="0.0147841980808791 0.0042480737331482 0.0151274279538292" rpy="0 0 0" />
            <mass value="1.4574234602454" />
            <inertia ixx="0.00180339669278899" ixy="2.63381410193493E-05" ixz="6.50896145233067E-06" iyy="0.00161263925764541" iyz="3.86425627687119E-05" izz="0.00113045411493904" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/Link_6.STL" />
            </geometry>
            <material name="">
                <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/Link_6.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint_6" type="continuous">
        <origin xyz="-0.0431083229104648 -0.0311376554684481 0.0553575571257914" rpy="0 0 0" />
        <parent link="Link_5" />
        <child link="Link_6" />
        <axis xyz="-0.942033385140828 -0.296974715295184 0.15613814317923" />
    </joint>
    <link name="IMU_Link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/IMU_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://amr_mtt_bot/meshes/amr_mtt_model/IMU_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="IMU_Joint" type="fixed">
        <origin xyz="0 0 0.0116500000000001" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="IMU_Link" />
        <axis xyz="0 0 0" />
    </joint>
</robot>